<% layout('layout') -%>

<div id="introduction"></div>
<br><br>
<div id="section-introduction">
	Devindra Payment is a burgeoning programmer with an interest in developing games, and a penchant for world building. This is his project list.
</div>

<div id="index">
	<br>
	<div id="games"></div>
	<section id="section-games">
		<h2>Games</h2>
		<% for (var i = 0; i < docs_game.results.length; i++) { %>
			<% data = docs_game.results[i] %>
			<%- partial('project') %>	
		<% } %>
	</section>
	<div id="roleplay"></div>
	<section id="section-roleplay">
		<h2>Roleplay</h2>
		<% for (var i = 0; i < docs_roleplay.results.length; i++) { %>
			<% data = docs_roleplay.results[i] %>
			<%- partial('project') %>
		<% } %>
	</section>
	<div id="code"></div>
	<section id="section-code">
		<h2>Code</h2>
		<% for (var i = 0; i < docs_code.results.length; i++) { %>
			<% data = docs_code.results[i] %>
			<%- partial('project') %>
		<% } %>
	</section>
</div>