<!DOCTYPE html>
<html>
	<head>
		<title>Devindra Payment</title>

		<!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"-->
		<link href="/stylesheets/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header id="header">
			<%- partial('toolbar') %>

			<div class="title">
				<!--<a class="internal" href="/<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">-->
					<h1>DEVINDRA</h1>
				<!--</a>-->
			</div>

			<nav id="navigation">
				<ul class="nav">
					<li class="active"><a class="internal" href="#introduction">Introduction</a></li>
					<li><a class="internal" href="#games">Games</a></li>
					<li><a class="internal" href="#roleplay">Roleplay</a></li>
					<li><a class="internal" href="#code">Code</a></li>
				</ul>
			</nav>

			<div id="social">
				<!--h2>Social</h2-->
				<ul class="nav">
					<li class="github">
						<a href="https://github.com/Ardnived" target="_blank">
							<img src="/images/link.svg" class="pull-right on-hover">
							GitHub
						</a>
					</li>
					<li class="twitter">
						<a href="https://twitter.com/Ardnived" target="_blank">
							<img src="/images/link.svg" class="pull-right on-hover">
							Twitter
						</a>
					</li>
					<li class="linkedin">
						<a href="http://ca.linkedin.com/pub/devindra-payment/63/9b3/177" target="_blank">
							<img src="/images/link.svg" class="pull-right on-hover">
							LinkedIn
						</a>
					</li>
				</ul>
			</div>
		</header>

		<main id="content">
			<%- body -%>
		</main>

		<footer id="footer">

			<!--
			<% if(!ctx.oauth().hasPrivilegedAccess) { %>
					<hr><a href="/signin">Sign in to preview changes</a>
			<% } %>
			-->
		</footer>
	</body>
</html>

<script type="text/javascript">
	var active_article = null
	var anchor = ""

	function open(id) {
		console.log("open", id);
		active_article = id
		$(active_article).addClass('active')

		scrolling(false)

		window.history.replaceState(null, null, "/"+id.substring(1))

		setTimeout(function() {
			var section_anchor = $(active_article).parent().data('anchor')
			$(section_anchor)[0].scrollIntoView(true)
		}, 200)
	}

	function close() {
		if (active_article != null) {
			$(active_article).removeClass('active')
			active_article = null

			scrolling(true)

			window.history.pushState(null, null, "/"+anchor)
		}
	}

	function change(id) {
		close()
		open(id)
	}

	function scrolling(enabled) {
		if (enabled) {
			$('body').removeClass('stop-scrolling')
			$('body').unbind('touchmove')
		} else {
			$('body').addClass('stop-scrolling')
			$('body').bind('touchmove', function(event) {
				event.preventDefault()
			})
		}
	}

	$(document).ready(function() {
		if ($('#index') != null) {
			$('body').scrollspy({ target: '#navigation', offset: 80 })
		}

		var url = window.location.hash
		var id = window.location.pathname.substring(1)+window.location.hash

		if (id[0] != '#') {
			id = '#'+id
		}

		if ($(id).prop("tagName") == "ARTICLE") {
			open(id)
		}

		$(window).on('activate.bs.scrollspy', function(event) {
			anchor = $("a[href^='#']", event.target).attr("href")

			if (active_article == null) {
				window.history.replaceState(null, null, anchor)			
			}
		});
	})

	$('article .details').click(function(event) {
	    event.stopPropagation()
	})

	$('html').click(function() {
		close()
	})

	$('#navigation a').on('click', function(event) {
		close()
	})

	$('.project-link').on('click', function(event) {
		var target_article = $(this).attr('href')

		if (active_article == target_article) {
			close()
		} else {
			change(target_article)
		}

		return false
	})
</script>